<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>一日游</title>
		<script src="bower_components/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.onload=function(){
				var vm=new Vue({
					el:"#box",
					data:{
						kk:"点击"
					},
					methods:{
						kfc:function(){
							//this.kk=""
						}
					}
				})
			}
		</script>
	</head>
	<body>
		<div  id="box">
			<input type="text" v-model="kk" />
			<input type="button" v-model="kk" @click="kfc">
		</div>
		
	</body>
</html>
